@using MvcCvProject.Models.Entity
@model List<Table_Experience>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="col-12">
        <br />
        <h2>Experiences List</h2>
        <table class="table table-bordered">
            <tr>               
                <th>Title</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <th>@x.Title</th>
                    <th>
                        <a href="/Experiences/DeleteExperience/@x.ID" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                            Delete
                        </a>
                    </th>
                    <th>
                        <a href="/Experiences/GetExperience/@x.ID" class="btn btn-warning btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                            Update
                        </a>
                    </th>
                </tr>
            }
        </table>
        <a href="/Experiences/AddExperience" class="btn btn-primary">Add New Experience</a>
    </div>
</div>