@model MvcCvProject.Models.Entity.Table_Skills
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="col-12">
        <br />
        <h2>Add New Skill</h2>
        <br />
        <form method="post">
            @Html.Label("Skill")
            @Html.TextBoxFor(x => x.Skills, new { @class = "form-control" })
            <br />
            <button class="btn btn-info">Save</button>
        </form>
    </div>
    <div class="col">
    </div>
</div>


