
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="col-12">
        <br />
        <h2>Add New Experience</h2>
        <br />
        <form class="from-group" method="post">
            <input type="text" name="Title" class="form-control" placeholder="Title" />
            <br />
            <input type="text" name="Subtitle" class="form-control" placeholder="Subtitle" />
            <br />
            <input type="text" name="Date" class="form-control" placeholder="Date" />
            <br />
            <textarea placeholder="Explanation" name="Explanation" class="form-control" rows="10"></textarea>
            <br />
            <button class="btn btn-info">Save</button>
        </form>
    </div>
    <div class="col">
    </div>
</div>